:root {
    --pink: #FF00D8;
    --blue: #000069;
    --lightpink: #FF77EA;
    --lightblue: #77E0FF;
    }

::selection {
    background-color: var(--lightpink);
    color: var(--lightblue);
} 

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--pink);
    background-color: var(--blue);
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1 {
    padding: 1rem;
  
    font-size: 4rem;
}
header p{
    padding: 1rem;
}

main {
    width: 96%;
    margin: 2rem auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.column > div {
    margin: 1.25rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    outline: 2px dashed var(--pink);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
    border-radius: 1rem;
}

.card-header{
    position: relative;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    background-color: var(--blue);
    color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

 .card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1rem;
    width: 100%;
    color: var(--blue);
    border-radius: .5rem;
    background-color: var(--pink);
    display: flex;
    align-items: center;
}